Proyect-SOA/FachadaProyectoBancoWS/P-XSD/EstadoTranType.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.BancoPersonal.com/servicios/cuentas/xsd-p/estadoTra" xmlns:this="http://www.BancoPersonal.com/servicios/cuentas/xsd-p/estadoTra">
    <xsd:complexType name="EstadoTranType">
    	<xsd:sequence>
    		<xsd:element maxOccurs="1" minOccurs="1" name="Codigo_transa" type="xsd:string"/>
    		<xsd:element maxOccurs="1" minOccurs="1" name="Descripcion" type="xsd:string"/>
    	</xsd:sequence>
    </xsd:complexType>
</xsd:schema>