Proyect-SOA/FachadaProyectoBancoWS/Cuentas_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.BancoPersonal.com/servicios/cuentas/wsdl/cuenta" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:pref="http://www.BancoPersonal.com/servicios/cuentas/p-xsd/transaccionReq" xmlns:pref1="http://www.BancoPersonal.com/servicios/cuentas/xsd-p/cliente" xmlns:pref2="http://www.BancoPersonal.com/servicios/cuentas/xsd-p/cuenta" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:this="http://www.BancoPersonal.com/servicios/cuentas/xsd-p/transaccionResp" xmlns:tns="http://www.BancoPersonal.com/servicios/cuentas/wsdl/cuenta" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">


    	<xsd:import namespace="http://www.BancoPersonal.com/servicios/cuentas/p-xsd/transaccionReq" schemaLocation="P-XSD/TransaccionReqType.xsd">
    	</xsd:import>
    	<xsd:import namespace="http://www.BancoPersonal.com/servicios/cuentas/xsd-p/transaccionResp" schemaLocation="P-XSD/TransaccionRespType.xsd">
    	</xsd:import>
    	<xsd:import namespace="http://www.BancoPersonal.com/servicios/cuentas/xsd-p/cliente" schemaLocation="P-XSD/ClienteType.xsd">
    	</xsd:import>
    	<xsd:import namespace="http://www.BancoPersonal.com/servicios/cuentas/xsd-p/cuenta" schemaLocation="P-XSD/CuentaType.xsd"/>
    	<xsd:element ibmSchExtn:docRoot="true" name="GetAllCustomerProjectReq" type="tns:GetAllCustomerProjectReqType">
    	</xsd:element>
    	<xsd:element ibmSchExtn:docRoot="true" name="GetAllCustomerProjectResp" type="tns:GetAllCustomerProjectRespType">
    	</xsd:element>

    	<xsd:complexType name="GetAllCustomerProjectReqType">
    		<xsd:sequence>
    			<xsd:element maxOccurs="1" minOccurs="1" name="TransaccionReq" type="pref:TransaccionReqType">
    			</xsd:element>
    		</xsd:sequence>
    	</xsd:complexType>

    	<xsd:complexType name="GetAllCustomerProjectRespType">
    		<xsd:sequence>
    			<xsd:element maxOccurs="1" minOccurs="1" name="TransaccionResp" type="this:TransaccionRespType">
    			</xsd:element>
    			<xsd:element maxOccurs="1" minOccurs="0" name="Lista_Cliente" type="tns:Lista_ClienteType">
    			</xsd:element>
    		</xsd:sequence>
    	</xsd:complexType>

    	<xsd:complexType name="Lista_ClienteType">
    		<xsd:sequence>
    			<xsd:element maxOccurs="1" minOccurs="0" name="Cliente" type="pref1:ClienteType">
    			</xsd:element>
    		</xsd:sequence>
    	</xsd:complexType>


    	<xsd:element ibmSchExtn:docRoot="true" name="GetAccountsByIdCustomerProjectReq" type="tns:GetAccountsByIdCustomerProjectReqType">
    	</xsd:element>
    	<xsd:element ibmSchExtn:docRoot="true" name="GetAccountsByIdCustomerProjectResp" type="tns:GetAccountsByIdCustomerProjectRespType">
    	</xsd:element>

    	<xsd:complexType name="GetAccountsByIdCustomerProjectReqType">
    		<xsd:sequence>
    			<xsd:element maxOccurs="1" minOccurs="1" name="TransaccionReq" type="pref:TransaccionReqType">
    			</xsd:element>
    			<xsd:element maxOccurs="1" minOccurs="1" name="Cliente" type="tns:ClienteSmallType1">
    			</xsd:element>
    		</xsd:sequence>
    	</xsd:complexType>

    	<xsd:complexType name="GetAccountsByIdCustomerProjectRespType">
    		<xsd:sequence>
    			<xsd:element maxOccurs="1" minOccurs="1" name="TransaccionRs" type="this:TransaccionRespType">
    			</xsd:element>
    			<xsd:element maxOccurs="1" minOccurs="0" name="Lista_cuenta" type="tns:Lista_cuentaType"/>
    		</xsd:sequence>
    	</xsd:complexType>

    	<xsd:complexType name="ClienteSmallType1">
    		<xsd:sequence>
    			<xsd:element maxOccurs="1" minOccurs="1" name="Tipo_ident" type="xsd:string">
    			</xsd:element>
    			<xsd:element maxOccurs="1" minOccurs="1" name="Identificacion" type="xsd:string">
    			</xsd:element>
    		</xsd:sequence>
    	</xsd:complexType>
    
    	<xsd:complexType name="Lista_cuentaType">
    		<xsd:sequence>
    			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Cuenta" type="pref2:CuentaType"/>
    		</xsd:sequence>
    	</xsd:complexType>
    </xsd:schema>